<div class="d-flex">
    <h1>Argumentos de entrada:</h1>
    <h1 class="ms-3">{{ArgEntr}}</h1>
</div>
<div class="d-flex">
    <h1>Sistema operativo:</h1>
    <h1 class="ms-3">{{SO}}</h1>
</div>
<div class="d-flex">
    <h1>Version de node:</h1>
    <h1 class="ms-3">{{NodeVersion}}</h1>
</div>
<div class="d-flex">
    <h1>Memoria total reservada:</h1>
    <h1 class="ms-3">{{ReservedMemory}}KB</h1>
</div>
<div class="d-flex">
    <h1>Path de ejecucion:</h1>
    <h1 class="ms-3">{{pathEjecucion}}</h1>
</div>
<div class="d-flex">
    <h1>Id del proceso:</h1>
    <h1 class="ms-3">{{processID}}</h1>
</div>
<div class="d-flex">
    <h1>Carpeta del proyecto:</h1>
    <h1 class="ms-3">{{proyectFolder}}</h1>
</div>
<div class="d-flex">
    <h1>Numero de procesadores:</h1>
    <h1 class="ms-3">{{numProcesadores}}</h1>
</div>
